.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 11rem);
    &__form {
        display: flex;
        flex-direction: column;
        padding: 4rem;
        box-shadow: .5rem 1rem 2rem rgba(0,0,0,.1);
        border-radius: 1rem;
        gap: 1rem;
    }
    &__title {
        font-size: 3rem;
    }
    &__input {
        padding: 1rem;
        font-size: 1.5rem;
        background: rgba(128, 128, 128, .1);
        border-radius: 1rem;
    }
    label {
        font-size: 1.5rem;
        font-weight: 300;
    }
}