.header {
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    .logo {
        width: 4rem;
    }
    &__links {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
    &__link {
        font-size: 2rem;
        color: rgb(228, 35, 35);
    }
    &__auth {
        background: rgb(228, 35, 35);
        color: #fff;
        padding: 1rem 2rem;
        border-radius: 1rem;
    }
}