@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

img {
  width: 100%; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

input {
  border: none;
  outline: none; }

button {
  border: none;
  outline: none; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.post {
  padding: 1.5rem 3rem;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem; }

.btn {
  background: #e42323;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;
  border-radius: 1rem; }

.header {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
  .header .logo {
    width: 4rem; }
  .header__links {
    display: flex;
    align-items: center;
    gap: 1.5rem; }
  .header__link {
    font-size: 2rem;
    color: #e42323; }
  .header__auth {
    background: #e42323;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 1rem; }

.home {
  padding: 1rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 1.5rem; }

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 11rem); }
  .login__form {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    gap: 1rem; }
  .login__title {
    font-size: 3rem; }
  .login__input {
    padding: 1rem;
    font-size: 1.5rem;
    background: rgba(128, 128, 128, 0.1);
    border-radius: 1rem; }
  .login label {
    font-size: 1.5rem;
    font-weight: 300; }
